In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-15-24//KCKPD-YTD-STATS-1-15-24.xlsx", header=2)
## Header is of two rows with the Pivot table
## Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
## Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df = df.astype(str) #convert all columns to strings as I have to combine numbers in the same cell
df = df.replace('nan','') #get rid of the nan created back to a blank string

# Combine 'Column1' and 'Column2' into a new column 'Combined'
df['2018'] = df[2018].astype(str) + df['Unnamed: 4']
df['2019'] = df[2019].astype(str) + df['Unnamed: 6']
df['2020'] = df[2020].astype(str) + df['Unnamed: 8']
df['2021'] = df[2021].astype(str) + df['Unnamed: 10']
df['2022'] = df[2022].astype(str) + df['Unnamed: 12']
df['2023'] = df[2023].astype(str) + df['Unnamed: 14']
df['2024'] = df[2024].astype(str) + df['Unnamed: 16']
df['(+/-)'] = df['(+/-)'].astype(str) + df['Unnamed: 18']
df['%'] = df['%'].astype(str) + df['Unnamed: 20']

df = df.drop(columns=[2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023, 'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20'])

df_transposed = df.transpose()  # or df.transpose()
df_transposed
## Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
01/15,Homicide,Rape,Agg Battery,Agg Assault,Shooting Into Dwell/Auto,Shooting-Occ Dwell,Shooting-Occ Auto,Shooting-Unocc Dwell,Robbery,Agg Robbery,...,Poss Stolen Property,TOTAL OTHER PROPERTY,Drug Offense,Weapons Offense,TOTAL SOCIETY,Other,TOTAL NON-TARGET CRIMES,TOTAL CRIMES,Runaway,Missing Person
2016,2,15,9,16,16,8,5,3,17,15,...,20,4249,865,95,960,588,9294,17962,395,103
2017,0.0,8.0,9.0,16.0,19.0,13.0,3.0,3.0,10.0,8.0,...,28.0,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0
2018,2.0,13.0,7.0,13.0,18.0,10.0,6.0,2.0,7.0,5.0,...,20.0,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0
2019,1.0,2.0,15.0,11.0,8.0,7.0,0.0,1.0,15.0,14.0,...,32.0,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0
2020,1,6,9,13,7,4,0,3,7,7,...,26.0,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0
2021,2.0,5.0,15.0,17.0,15.0,13.0,1.0,1.0,10.0,9.0,...,24.0,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0
2022,2.0,6.0,23.0,35.0,25.0,19.0,3.0,3.0,8.0,7.0,...,34.0,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0
2023,0.0,4.0,18.0,35.0,17.0,11.0,5.0,1.0,8.0,7.0,...,90.0,3967.0,1329.0,481.0,1810.0,2472.0,11306.0,19739.0,336.0,160.0
2024,0,1,3,10,8,5,0,3,1,1,...,1,50,3,11,14,27,115,115,5,0

In [2]:
df2 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-1-29-24//KCKPD-YTD-STATS-1-29-24.xlsx", header=3)
## Header is of two rows with the Pivot table
## Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
## Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

In [3]:
df2

,01/29,2016,2017,2018,2019,Unnamed: 5,2020,Unnamed: 7,2021,Unnamed: 9,2022,Unnamed: 11,2023,Unnamed: 13,2024,Unnamed: 15,(+/-),Unnamed: 17,%,Unnamed: 19
0,Homicide,2,0.0,3.0,1.0,NaN,3.0,NaN,2.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN,-2.0,NaN,-1,NaN
1,Rape,17,10.0,16.0,2.0,NaN,13.0,NaN,7.0,NaN,7.0,NaN,5.0,NaN,4.0,NaN,-1.0,NaN,-0.2,NaN
2,Agg Battery,19,14.0,18.0,31.0,NaN,22.0,NaN,35.0,NaN,39.0,NaN,26.0,NaN,9.0,NaN,-17.0,NaN,-0.65,NaN
3,Agg Assault,32,33.0,22.0,19.0,NaN,29.0,NaN,33.0,NaN,61.0,NaN,50.0,NaN,20.0,NaN,-30.0,NaN,-0.6,NaN
4,ShootingÂ IntoÂ Dwell/Auto,31,29.0,31.0,18.0,NaN,18.0,NaN,29.0,NaN,34.0,NaN,25.0,NaN,14.0,NaN,-11.0,NaN,-0.44,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Other,588,708.0,1391.0,NaN,1665.0,NaN,1602.0,NaN,1660.0,NaN,1482.0,NaN,2490.0,NaN,62.0,NaN,-2428,NaN,-0.98
111,TOTAL NON-TARGET CRIMES,9294,9629.0,9668.0,NaN,9327.0,NaN,9517.0,NaN,9921.0,NaN,9790.0,NaN,11379.0,NaN,302.0,NaN,-11077,NaN,-0.97
112,TOTAL CRIMES,17962,18462.0,17733.0,NaN,17020.0,NaN,18128.0,NaN,18629.0,NaN,17982.0,NaN,19892.0,NaN,546.0,NaN,-19346,NaN,-0.97
113,Runaway,395,450.0,404.0,NaN,412.0,NaN,391.0,NaN,351.0,NaN,423.0,NaN,343.0,NaN,15.0,NaN,-328,NaN,-0.96
114,Missing Person,103,145.0,118.0,NaN,154.0,NaN,144.0,NaN,148.0,NaN,159.0,NaN,162.0,NaN,1.0,NaN,-161,NaN,-0.99

In [4]:
df2 = df2.astype(str) #convert all columns to strings as I have to combine numbers in the same cell
df2 = df2.replace('nan','') #get rid of the nan created back to a blank string

In [5]:
df2

,01/29,2016,2017,2018,2019,Unnamed: 5,2020,Unnamed: 7,2021,Unnamed: 9,2022,Unnamed: 11,2023,Unnamed: 13,2024,Unnamed: 15,(+/-),Unnamed: 17,%,Unnamed: 19
0,Homicide,2,0.0,3.0,1.0,,3.0,,2.0,,5.0,,2.0,,0.0,,-2.0,,-1,
1,Rape,17,10.0,16.0,2.0,,13.0,,7.0,,7.0,,5.0,,4.0,,-1.0,,-0.2,
2,Agg Battery,19,14.0,18.0,31.0,,22.0,,35.0,,39.0,,26.0,,9.0,,-17.0,,-0.65,
3,Agg Assault,32,33.0,22.0,19.0,,29.0,,33.0,,61.0,,50.0,,20.0,,-30.0,,-0.6,
4,ShootingÂ IntoÂ Dwell/Auto,31,29.0,31.0,18.0,,18.0,,29.0,,34.0,,25.0,,14.0,,-11.0,,-0.44,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Other,588,708.0,1391.0,,1665.0,,1602.0,,1660.0,,1482.0,,2490.0,,62.0,,-2428,,-0.98
111,TOTAL NON-TARGET CRIMES,9294,9629.0,9668.0,,9327.0,,9517.0,,9921.0,,9790.0,,11379.0,,302.0,,-11077,,-0.97
112,TOTAL CRIMES,17962,18462.0,17733.0,,17020.0,,18128.0,,18629.0,,17982.0,,19892.0,,546.0,,-19346,,-0.97
113,Runaway,395,450.0,404.0,,412.0,,391.0,,351.0,,423.0,,343.0,,15.0,,-328,,-0.96
114,Missing Person,103,145.0,118.0,,154.0,,144.0,,148.0,,159.0,,162.0,,1.0,,-161,,-0.99

In [6]:
print(df2.columns.tolist())
## Reference https://stackoverflow.com/questions/49188960/how-to-show-all-columns-names-on-a-large-pandas-dataframe

['01/29', 2016, 2017, 2018, 2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023, 'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19']

In [7]:

# Combine 'Column1' and 'Column2' into a new column 'Combined'
df2['2019'] = df2[2019].astype(str) + df2['Unnamed: 5']
df2['2020'] = df2[2020].astype(str) + df2['Unnamed: 7']
df2['2021'] = df2[2021].astype(str) + df2['Unnamed: 9']
df2['2022'] = df2[2022].astype(str) + df2['Unnamed: 11']
df2['2023'] = df2[2023].astype(str) + df2['Unnamed: 13']
df2['2024'] = df2[2024].astype(str) + df2['Unnamed: 15']
df2['(+/-)'] = df2['(+/-)'].astype(str) + df2['Unnamed: 17']
df2['%'] = df2['%'].astype(str) + df2['Unnamed: 19']

df2 = df2.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023, 'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df2_transposed = df2.transpose()  # or df.transpose()
df2_transposed
## Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
01/29,Homicide,Rape,Agg Battery,Agg Assault,ShootingÂ IntoÂ Dwell/Auto,Shooting-Occ Dwell,Shooting-Occ Auto,Shooting-Unocc Dwell,Robbery,Agg Robbery,...,Poss Stolen Property,TOTAL OTHER PROPERTY,Drug Offense,Weapons Offense,TOTAL SOCIETY,Other,TOTAL NON-TARGET CRIMES,TOTAL CRIMES,Runaway,Missing Person
2016,2,17,19,32,31,18,8,5,29,27,...,20,4249,865,95,960,588,9294,17962,395,103
2017,0.0,10.0,14.0,33.0,29.0,23.0,3.0,3.0,25.0,21.0,...,28.0,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0
2018,3.0,16.0,18.0,22.0,31.0,17.0,10.0,4.0,17.0,13.0,...,20.0,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0
2019,1.0,2.0,31.0,19.0,18.0,13.0,3.0,2.0,23.0,19.0,...,32.0,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0
2020,3.0,13.0,22.0,29.0,18.0,9.0,5.0,4.0,12.0,11.0,...,26.0,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0
2021,2.0,7.0,35.0,33.0,29.0,20.0,7.0,2.0,21.0,17.0,...,24.0,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0
2022,5.0,7.0,39.0,61.0,34.0,26.0,3.0,5.0,20.0,17.0,...,34.0,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0
2023,2.0,5.0,26.0,50.0,25.0,14.0,8.0,3.0,19.0,15.0,...,93.0,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19892.0,343.0,162.0
2024,0.0,4.0,9.0,20.0,14.0,7.0,3.0,4.0,11.0,8.0,...,4.0,109.0,20.0,24.0,44.0,62.0,302.0,546.0,15.0,1.0

In [8]:
df2 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-29-24//KCKPD-YTD-STATS-1-29-24.xlsx", header=3)
## Header is of two rows with the Pivot table
## Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
## Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df2 = df2.astype(str) #convert all columns to strings as I have to combine numbers in the same cell
df2 = df2.replace('nan','') #get rid of the nan created back to a blank string

# Combine 'Column1' and 'Column2' into a new column 'Combined'
df2['2019'] = df2[2019].astype(str) + df2['Unnamed: 5']
df2['2020'] = df2[2020].astype(str) + df2['Unnamed: 7']
df2['2021'] = df2[2021].astype(str) + df2['Unnamed: 9']
df2['2022'] = df2[2022].astype(str) + df2['Unnamed: 11']
df2['2023'] = df2[2023].astype(str) + df2['Unnamed: 13']
df2['2024'] = df2[2024].astype(str) + df2['Unnamed: 15']
df2['(+/-)'] = df2['(+/-)'].astype(str) + df2['Unnamed: 17']
df2['%'] = df2['%'].astype(str) + df2['Unnamed: 19']

df2 = df2.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023, 'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df2_transposed = df2.transpose()  # or df.transpose()
df2_transposed
## Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
01/29,Homicide,Rape,Agg Battery,Agg Assault,ShootingÂ IntoÂ Dwell/Auto,Shooting-Occ Dwell,Shooting-Occ Auto,Shooting-Unocc Dwell,Robbery,Agg Robbery,...,Poss Stolen Property,TOTAL OTHER PROPERTY,Drug Offense,Weapons Offense,TOTAL SOCIETY,Other,TOTAL NON-TARGET CRIMES,TOTAL CRIMES,Runaway,Missing Person
2016,2,17,19,32,31,18,8,5,29,27,...,20,4249,865,95,960,588,9294,17962,395,103
2017,0.0,10.0,14.0,33.0,29.0,23.0,3.0,3.0,25.0,21.0,...,28.0,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0
2018,3.0,16.0,18.0,22.0,31.0,17.0,10.0,4.0,17.0,13.0,...,20.0,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0
2019,1.0,2.0,31.0,19.0,18.0,13.0,3.0,2.0,23.0,19.0,...,32.0,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0
2020,3.0,13.0,22.0,29.0,18.0,9.0,5.0,4.0,12.0,11.0,...,26.0,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0
2021,2.0,7.0,35.0,33.0,29.0,20.0,7.0,2.0,21.0,17.0,...,24.0,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0
2022,5.0,7.0,39.0,61.0,34.0,26.0,3.0,5.0,20.0,17.0,...,34.0,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0
2023,2.0,5.0,26.0,50.0,25.0,14.0,8.0,3.0,19.0,15.0,...,93.0,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19892.0,343.0,162.0
2024,0.0,4.0,9.0,20.0,14.0,7.0,3.0,4.0,11.0,8.0,...,4.0,109.0,20.0,24.0,44.0,62.0,302.0,546.0,15.0,1.0