In [1]:
import pandas as pd
import numpy as np

In [2]:
new_column_names = ['Homicide', 'Rape', 'Agg Battery', 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 
 'Robbery', 'Total Violent', 'Burglary', 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 
 'Abduction', 'Agg Arson', 'Agg Ind Solicitation', 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint',
 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties', 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking',
 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage', 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense',
 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES', 'Runaway', 'Missing Person', '', 'Data as of', '01/15', 'Homicide', 'Rape', 'Agg Battery',
 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 'Robbery', 'Total Violent', 'Burglary',
 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 'Abduction', 'Agg Arson', 'Agg Ind Solicitation',
 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint', 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties',
 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking', 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage',
 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense', 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES',
 'Runaway', 'Missing Person']

In [3]:
# Convert to DataFrame
ncn = pd.DataFrame(new_column_names)

In [4]:
#ncn.lower()

In [5]:
df = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-15-24//KCKPD-YTD-STATS-1-15-24.xlsx", header=2)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df = df.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df = df.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df['2018'] = df[2018].astype(str) + df['Unnamed: 4']
df['2019'] = df[2019].astype(str) + df['Unnamed: 6']
df['2020'] = df[2020].astype(str) + df['Unnamed: 8']
df['2021'] = df[2021].astype(str) + df['Unnamed: 10']
df['2022'] = df[2022].astype(str) + df['Unnamed: 12']
df['2023'] = df[2023].astype(str) + df['Unnamed: 14']
df['2024'] = df[2024].astype(str) + df['Unnamed: 16']
df['(+/-)'] = df['(+/-)'].astype(str) + df['Unnamed: 18']
df['%'] = df['%'].astype(str) + df['Unnamed: 20']

df = df.drop(columns=[2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023,
                      'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20'])

df_transposed = df.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### Code used to set as type the whole data frame as String variables.
df_transposed = df_transposed.astype(str)

### The collected Column names from the first column labled '01/15'
new_column_names = ['Homicide', 'Rape', 'Agg Battery', 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 
 'Robbery', 'Total Violent', 'Burglary', 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 
 'Abduction', 'Agg Arson', 'Agg Ind Solicitation', 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint',
 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties', 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking',
 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage', 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense',
 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES', 'Runaway', 'Missing Person', '', 'Data as of', '01/15', 'Homicide', 'Rape', 'Agg Battery',
 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 'Robbery', 'Total Violent', 'Burglary',
 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 'Abduction', 'Agg Arson', 'Agg Ind Solicitation',
 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint', 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties',
 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking', 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage',
 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense', 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES',
 'Runaway', 'Missing Person']

new_column_names2 = new_column_names

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df_transposed.columns = new_column_names2

###
df_transposed = df_transposed.drop(['01/15'])

### add string of the years of data collection 2016 - 2024.
df_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df_transposed['Date_Year'] = '01-15-' + df_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df_transposed.index = new_index_names

In [6]:
df2 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-29-24//KCKPD-YTD-STATS-1-29-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df2 = df2.astype(str)  ### Convert all columns to strings as I have to combine numbers in the same cell.
df2 = df2.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df2['2019'] = df2[2019].astype(str) + df2['Unnamed: 5']
df2['2020'] = df2[2020].astype(str) + df2['Unnamed: 7']
df2['2021'] = df2[2021].astype(str) + df2['Unnamed: 9']
df2['2022'] = df2[2022].astype(str) + df2['Unnamed: 11']
df2['2023'] = df2[2023].astype(str) + df2['Unnamed: 13']
df2['2024'] = df2[2024].astype(str) + df2['Unnamed: 15']
df2['(+/-)'] = df2['(+/-)'].astype(str) + df2['Unnamed: 17']
df2['%'] = df2['%'].astype(str) + df2['Unnamed: 19']

df2 = df2.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df2_transposed = df2.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### Code used to set as type the whole data frame as String variables.
df2_transposed = df2_transposed.astype(str)

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df2_transposed.columns = new_column_names

###
df2_transposed = df2_transposed.drop(['01/29'])

### add string of the years of data collection 2016 - 2024.
df2_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df2_transposed['Date_Year'] = '01-29-' + df2_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
df2_transposed.index = new_index_names

In [7]:
df3 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-2-12-24//KCKPD-YTD-STATS-2-12-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df3 = df3.astype(str)  ### Convert all columns to strings as I have to combine numbers in the same cell.
df3 = df3.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df3['2019'] = df3[2019].astype(str) + df3['Unnamed: 5']
df3['2020'] = df3[2020].astype(str) + df3['Unnamed: 7']
df3['2021'] = df3[2021].astype(str) + df3['Unnamed: 9']
df3['2022'] = df3[2022].astype(str) + df3['Unnamed: 11']
df3['2023'] = df3[2023].astype(str) + df3['Unnamed: 13']
df3['2024'] = df3[2024].astype(str) + df3['Unnamed: 15']
df3['(+/-)'] = df3['(+/-)'].astype(str) + df3['Unnamed: 17']
df3['%'] = df3['%'].astype(str) + df3['Unnamed: 19']

df3 = df3.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df3_transposed = df3.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df3_transposed.columns = new_column_names

###
df3_transposed = df3_transposed.drop(['02/12'])

### add string of the years of data collection 2016 - 2024.
df3_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df3_transposed['Date_Year'] = '02-12-' + df3_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df3_transposed.index = new_index_names

In [8]:
df4 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-2-26-24//KCKPD-YTD-STATS-2-26-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df4 = df4.astype(str)  ### Convert all columns to strings as I have to combine numbers in the same cell.
df4 = df4.replace('nan','')### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df4['2019'] = df4[2019].astype(str) + df4['Unnamed: 5']
df4['2020'] = df4[2020].astype(str) + df4['Unnamed: 7']
df4['2021'] = df4[2021].astype(str) + df4['Unnamed: 9']
df4['2022'] = df4[2022].astype(str) + df4['Unnamed: 11']
df4['2023'] = df4[2023].astype(str) + df4['Unnamed: 13']
df4['2024'] = df4[2024].astype(str) + df4['Unnamed: 15']
df4['(+/-)'] = df4['(+/-)'].astype(str) + df4['Unnamed: 17']
df4['%'] = df4['%'].astype(str) + df4['Unnamed: 19']

df4 = df4.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df4_transposed = df4.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df4_transposed.columns = new_column_names

###
df4_transposed = df4_transposed.drop(['02/26'])

### add string of the years of data collection 2016 - 2024.
df4_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df4_transposed['Date_Year'] = '02-26-' + df4_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df4_transposed.index = new_index_names

In [9]:
df5 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-3-11-24//KCKPD-YTD-STATS-3-11-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df5 = df5.astype(str)  ### Convert all columns to strings as I have to combine numbers in the same cell.
df5 = df5.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df5['2019'] = df5[2019].astype(str) + df5['Unnamed: 5']
df5['2020'] = df5[2020].astype(str) + df5['Unnamed: 7']
df5['2021'] = df5[2021].astype(str) + df5['Unnamed: 9']
df5['2022'] = df5[2022].astype(str) + df5['Unnamed: 11']
df5['2023'] = df5[2023].astype(str) + df5['Unnamed: 13']
df5['2024'] = df5[2024].astype(str) + df5['Unnamed: 15']
df5['(+/-)'] = df5['(+/-)'].astype(str) + df5['Unnamed: 17']
df5['%'] = df5['%'].astype(str) + df5['Unnamed: 19']

df5 = df5.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df5_transposed = df5.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df5_transposed.columns = new_column_names

###
df5_transposed = df5_transposed.drop(['03/11'])

### add string of the years of data collection 2016 - 2024.
df5_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df5_transposed['Date_Year'] = '03-11-' + df5_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df5_transposed.index = new_index_names

In [10]:
df6 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-3-25-24//KCKPD-YTD-STATS-3-25-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df6 = df6.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df6 = df6.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df6['2019'] = df6[2019].astype(str) + df6['Unnamed: 5']
df6['2020'] = df6[2020].astype(str) + df6['Unnamed: 7']
df6['2021'] = df6[2021].astype(str) + df6['Unnamed: 9']
df6['2022'] = df6[2022].astype(str) + df6['Unnamed: 11']
df6['2023'] = df6[2023].astype(str) + df6['Unnamed: 13']
df6['2024'] = df6[2024].astype(str) + df6['Unnamed: 15']
df6['(+/-)'] = df6['(+/-)'].astype(str) + df6['Unnamed: 17']
df6['%'] = df6['%'].astype(str) + df6['Unnamed: 19']

df6 = df6.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df6_transposed = df6.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df6_transposed.columns = new_column_names

###
df6_transposed = df6_transposed.drop(['03/25'])

### add string of the years of data collection 2016 - 2024.
df6_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df6_transposed['Date_Year'] = '03-25-' + df6_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df6_transposed.index = new_index_names

In [11]:
df7 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-4-8-24/KCKPD-YTD-STATS-4-8-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df7 = df7.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df7 = df7.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df7['2019'] = df7[2019].astype(str) + df7['Unnamed: 5']
df7['2020'] = df7[2020].astype(str) + df7['Unnamed: 7']
df7['2021'] = df7[2021].astype(str) + df7['Unnamed: 9']
df7['2022'] = df7[2022].astype(str) + df7['Unnamed: 11']
df7['2023'] = df7[2023].astype(str) + df7['Unnamed: 13']
df7['2024'] = df7[2024].astype(str) + df7['Unnamed: 15']
df7['(+/-)'] = df7['(+/-)'].astype(str) + df7['Unnamed: 17']
df7['%'] = df7['%'].astype(str) + df7['Unnamed: 19']

df7 = df7.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df7_transposed = df7.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df7_transposed.columns = new_column_names

###
df7_transposed = df7_transposed.drop(['04/08'])

### add string of the years of data collection 2016 - 2024.
df7_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df7_transposed['Date_Year'] = '03-08-' + df7_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df7_transposed.index = new_index_names

In [12]:
df8 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-4-22-24//KCKPD-YTD-STATS-4-22-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df8 = df8.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df8 = df8.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df8['2019'] = df8[2019].astype(str) + df8['Unnamed: 5']
df8['2020'] = df8[2020].astype(str) + df8['Unnamed: 7']
df8['2021'] = df8[2021].astype(str) + df8['Unnamed: 9']
df8['2022'] = df8[2022].astype(str) + df8['Unnamed: 11']
df8['2023'] = df8[2023].astype(str) + df8['Unnamed: 13']
df8['2024'] = df8[2024].astype(str) + df8['Unnamed: 15']
df8['(+/-)'] = df8['(+/-)'].astype(str) + df8['Unnamed: 17']
df8['%'] = df8['%'].astype(str) + df8['Unnamed: 19']

df8 = df8.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df8_transposed = df8.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df8_transposed.columns = new_column_names

###
df8_transposed = df8_transposed.drop(['04/22'])

### add string of the years of data collection 2016 - 2024.
df8_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df8_transposed['Date_Year'] = '04-22-' + df8_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df8_transposed.index = new_index_names

In [13]:
df9 = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-5-6-24//KCKPD-YTD-STATS-5-6-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df9 = df9.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df9 = df9.replace('nan','') ### Getting rid of the nan created back to a blank string

### Combine 'Column1' and 'Column2' into a new column 'Combined'
df9['2019'] = df9[2019].astype(str) + df9['Unnamed: 5']
df9['2020'] = df9[2020].astype(str) + df9['Unnamed: 7']
df9['2021'] = df9[2021].astype(str) + df9['Unnamed: 9']
df9['2022'] = df9[2022].astype(str) + df9['Unnamed: 11']
df9['2023'] = df9[2023].astype(str) + df9['Unnamed: 13']
df9['2024'] = df9[2024].astype(str) + df9['Unnamed: 15']
df9['(+/-)'] = df9['(+/-)'].astype(str) + df9['Unnamed: 17']
df9['%'] = df9['%'].astype(str) + df9['Unnamed: 19']

df9 = df9.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

df9_transposed = df9.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

### This code adds the string values in "new_column_names" to the dataframe as a new headers.
df9_transposed.columns = new_column_names

###
df9_transposed = df9_transposed.drop(['05/06'])

### add string of the years of data collection 2016 - 2024.
df9_transposed['Date_Year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

### Adds the prefix of January 15th the date of the worksheet 
df9_transposed['Date_Year'] = '05-06-' + df9_transposed['Date_Year'].astype(str)

### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
df9_transposed.index = new_index_names

In [14]:
frames = [df_transposed, df2_transposed, df3_transposed, df4_transposed, df5_transposed, 
          df6_transposed, df7_transposed, df8_transposed, df9_transposed]

In [15]:
frames

[  Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        2    15           9          16                       16
 2      0.0   8.0         9.0        16.0                     19.0
 3      2.0  13.0         7.0        13.0                     18.0
 4      1.0   2.0        15.0        11.0                      8.0
 5        1     6           9          13                        7
 6      2.0   5.0        15.0        17.0                     15.0
 7      2.0   6.0        23.0        35.0                     25.0
 8      0.0   4.0        18.0        35.0                     17.0
 9        0     1           3          10                        8

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                  8                 5                    3      17
 2               13.0               3.0                  3.0    10.0
 3               10.0               6.0                  2.0     7.0
 4                7.0               0.0                  1.0    15.0
 5                  4                 0                    3       7
 6               13.0               1.0                  1.0    10.0
 7               19.0               3.0                  3.0     8.0
 8               11.0               5.0                  1.0     8.0
 9                  5                 0                    3       1

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          15  ...                 4249          865              95
 2         8.0  ...               4311.0       1074.0           181.0
 3         5.0  ...               3742.0       1015.0           278.0
 4        14.0  ...               3432.0       1024.0           419.0
 5           7  ...               3864.0        587.0           532.0
 6         9.0  ...               3978.0        744.0           448.0
 7         7.0  ...               3711.0        980.0           533.0
 8         7.0  ...               3967.0       1329.0           481.0
 9           1  ...                   50            3              11

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1810.0  2472.0                 11306.0      19739.0   336.0
 9            14      27                     115          115       5

   Missing Person   Date_Year
 1            103  01-15-2016
 2          145.0  01-15-2017
 3          118.0  01-15-2018
 4          154.0  01-15-2019
 5          144.0  01-15-2020
 6          148.0  01-15-2021
 7          159.0  01-15-2022
 8          160.0  01-15-2023
 9              0  01-15-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        2    17          19          32                       31
 2      0.0  10.0        14.0        33.0                     29.0
 3      3.0  16.0        18.0        22.0                     31.0
 4      1.0   2.0        31.0        19.0                     18.0
 5      3.0  13.0        22.0        29.0                     18.0
 6      2.0   7.0        35.0        33.0                     29.0
 7      5.0   7.0        39.0        61.0                     34.0
 8      2.0   5.0        26.0        50.0                     25.0
 9      0.0   4.0         9.0        20.0                     14.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 18                 8                    5      29
 2               23.0               3.0                  3.0    25.0
 3               17.0              10.0                  4.0    17.0
 4               13.0               3.0                  2.0    23.0
 5                9.0               5.0                  4.0    12.0
 6               20.0               7.0                  2.0    21.0
 7               26.0               3.0                  5.0    20.0
 8               14.0               8.0                  3.0    19.0
 9                7.0               3.0                  4.0    11.0

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          27  ...                 4249          865              95
 2        21.0  ...               4311.0       1074.0           181.0
 3        13.0  ...               3742.0       1015.0           278.0
 4        19.0  ...               3432.0       1024.0           419.0
 5        11.0  ...               3864.0        587.0           532.0
 6        17.0  ...               3978.0        744.0           448.0
 7        17.0  ...               3711.0        980.0           533.0
 8        15.0  ...               4010.0       1333.0           479.0
 9         8.0  ...                109.0         20.0            24.0

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1812.0  2490.0                 11379.0      19892.0   343.0
 9          44.0    62.0                   302.0        546.0    15.0

   Missing Person   Date_Year
 1            103  01-29-2016
 2          145.0  01-29-2017
 3          118.0  01-29-2018
 4          154.0  01-29-2019
 5          144.0  01-29-2020
 6          148.0  01-29-2021
 7          159.0  01-29-2022
 8          162.0  01-29-2023
 9            1.0  01-29-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        3    19          30          46                       37
 2      2.0  13.0        24.0        42.0                     35.0
 3      4.0  19.0        24.0        33.0                     44.0
 4      3.0   6.0        46.0        32.0                     35.0
 5      4.0  13.0        33.0        52.0                     28.0
 6      3.0   9.0        57.0        53.0                     36.0
 7      5.0  12.0        58.0        83.0                     46.0
 8      2.0   8.0        31.0        79.0                     36.0
 9      0.0   9.0        13.0        39.0                     17.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 22                10                    5      34
 2               27.0               5.0                  3.0    38.0
 3               26.0              14.0                  4.0    31.0
 4               24.0               5.0                  6.0    41.0
 5               17.0               6.0                  5.0    20.0
 6               23.0              11.0                  2.0    25.0
 7               34.0               5.0                  7.0    34.0
 8               20.0              11.0                  5.0    23.0
 9                8.0               4.0                  5.0    14.0

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          31  ...                 4249          865              95
 2        30.0  ...               4311.0       1074.0           181.0
 3        26.0  ...               3742.0       1015.0           278.0
 4        29.0  ...               3432.0       1024.0           419.0
 5        18.0  ...               3864.0        587.0           532.0
 6        20.0  ...               3978.0        744.0           448.0
 7        30.0  ...               3711.0        980.0           533.0
 8        18.0  ...               4010.0       1333.0           479.0
 9        11.0  ...                207.0         74.0            37.0

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1812.0  2490.0                 11379.0      19892.0   343.0
 9         111.0   151.0                   675.0       1135.0    17.0

   Missing Person   Date_Year
 1            103  02-12-2016
 2          145.0  02-12-2017
 3          118.0  02-12-2018
 4          154.0  02-12-2019
 5          144.0  02-12-2020
 6          148.0  02-12-2021
 7          159.0  02-12-2022
 8          162.0  02-12-2023
 9            6.0  02-12-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        3    23          34          55                       41
 2      4.0  18.0        34.0        62.0                     44.0
 3      5.0  24.0        34.0        42.0                     51.0
 4      4.0   9.0        61.0        39.0                     44.0
 5      6.0  15.0        47.0        67.0                     39.0
 6      3.0  11.0        77.0        66.0                     43.0
 7      8.0  16.0        73.0       101.0                     53.0
 8      3.0   9.0        38.0        99.0                     47.0
 9      3.0  13.0        21.0        60.0                     27.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 26                10                    5      44
 2               30.0               9.0                  5.0    45.0
 3               30.0              15.0                  6.0    44.0
 4               30.0               8.0                  6.0    47.0
 5               25.0               9.0                  5.0    25.0
 6               27.0              13.0                  3.0    27.0
 7               39.0               5.0                  9.0    46.0
 8               29.0              11.0                  7.0    27.0
 9               13.0               9.0                  5.0    17.0

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          40  ...                 4249          865              95
 2        36.0  ...               4311.0       1074.0           181.0
 3        39.0  ...               3742.0       1015.0           278.0
 4        34.0  ...               3432.0       1024.0           419.0
 5        23.0  ...               3864.0        587.0           532.0
 6        22.0  ...               3978.0        744.0           448.0
 7        42.0  ...               3711.0        980.0           533.0
 8        21.0  ...               4010.0       1333.0           479.0
 9        13.0  ...                384.0        151.0            65.0

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1812.0  2490.0                 11379.0      19893.0   343.0
 9         216.0   274.0                  1253.0       2073.0    26.0

   Missing Person   Date_Year
 1            103  02-26-2016
 2          145.0  02-26-2017
 3          118.0  02-26-2018
 4          154.0  02-26-2019
 5          144.0  02-26-2020
 6          148.0  02-26-2021
 7          159.0  02-26-2022
 8          162.0  02-26-2023
 9           15.0  02-26-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        9    31          42          68                       52
 2      5.0  22.0        37.0        71.0                     53.0
 3      8.0  27.0        53.0        59.0                     62.0
 4      4.0  15.0        68.0        48.0                     51.0
 5      8.0  21.0        58.0        80.0                     48.0
 6      3.0  15.0        86.0        87.0                     44.0
 7      9.0  19.0        87.0       117.0                     60.0
 8      3.0  13.0        45.0       131.0                     61.0
 9      4.0  17.0        32.0        81.0                     35.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 31                12                    9      49
 2               36.0              11.0                  6.0    52.0
 3               37.0              17.0                  8.0    51.0
 4               36.0               9.0                  6.0    53.0
 5               28.0              13.0                  7.0    32.0
 6               27.0              14.0                  3.0    31.0
 7               43.0               8.0                  9.0    52.0
 8               38.0              12.0                 11.0    35.0
 9               18.0              11.0                  6.0    28.0

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          43  ...                 4249          865              95
 2        40.0  ...               4311.0       1074.0           181.0
 3        45.0  ...               3742.0       1015.0           278.0
 4        39.0  ...               3432.0       1024.0           419.0
 5        29.0  ...               3864.0        587.0           532.0
 6        25.0  ...               3978.0        744.0           448.0
 7        47.0  ...               3711.0        980.0           533.0
 8        28.0  ...               4010.0       1333.0           479.0
 9        23.0  ...                505.0        191.0            85.0

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1812.0  2490.0                 11379.0      19893.0   343.0
 9         276.0   361.0                  1636.0       2719.0    39.0

   Missing Person   Date_Year
 1            103  03-11-2016
 2          145.0  03-11-2017
 3          118.0  03-11-2018
 4          154.0  03-11-2019
 5          144.0  03-11-2020
 6          148.0  03-11-2021
 7          159.0  03-11-2022
 8          162.0  03-11-2023
 9           20.0  03-11-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1        9    32          49          80                       59
 2      6.0  26.0        40.0        82.0                     62.0
 3      9.0  29.0        65.0        75.0                     73.0
 4      4.0  17.0        77.0        57.0                     56.0
 5     10.0  24.0        66.0        92.0                     59.0
 6      4.0  20.0        99.0       107.0                     52.0
 7     10.0  22.0        99.0       133.0                     68.0
 8      3.0  15.0        59.0       156.0                     73.0
 9      4.0  18.0        40.0       101.0                     41.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 35                14                   10      60
 2               39.0              17.0                  6.0    57.0
 3               42.0              20.0                 11.0    62.0
 4               39.0              10.0                  7.0    63.0
 5               34.0              17.0                  8.0    40.0
 6               33.0              16.0                  3.0    39.0
 7               49.0               9.0                 10.0    56.0
 8               47.0              15.0                 11.0    40.0
 9               22.0              12.0                  7.0    31.0

   Agg Robbery  ... TOTAL OTHER PROPERTY Drug Offense Weapons Offense  \
 1          54  ...                 4249          865              95
 2        44.0  ...               4311.0       1074.0           181.0
 3        52.0  ...               3742.0       1015.0           278.0
 4        48.0  ...               3432.0       1024.0           419.0
 5        35.0  ...               3864.0        587.0           532.0
 6        30.0  ...               3978.0        744.0           448.0
 7        49.0  ...               3711.0        980.0           533.0
 8        33.0  ...               4010.0       1333.0           479.0
 9        25.0  ...                619.0        246.0           102.0

   TOTAL SOCIETY   Other TOTAL NON-TARGET CRIMES TOTAL CRIMES Runaway  \
 1           960     588                    9294        17962     395
 2        1255.0   708.0                  9629.0      18462.0   450.0
 3        1293.0  1391.0                  9668.0      17733.0   404.0
 4        1443.0  1665.0                  9327.0      17020.0   412.0
 5        1119.0  1602.0                  9517.0      18128.0   391.0
 6        1192.0  1660.0                  9921.0      18629.0   351.0
 7        1513.0  1482.0                  9790.0      17982.0   423.0
 8        1812.0  2490.0                 11379.0      19893.0   343.0
 9         348.0   422.0                  1981.0       3303.0    49.0

   Missing Person   Date_Year
 1            103  03-25-2016
 2          145.0  03-25-2017
 3          118.0  03-25-2018
 4          154.0  03-25-2019
 5          144.0  03-25-2020
 6          148.0  03-25-2021
 7          159.0  03-25-2022
 8          162.0  03-25-2023
 9           22.0  03-25-2024

 [9 rows x 116 columns],
   Homicide  Rape Agg Battery Agg Assault Shooting Into Dwell/Auto  \
 1       10    40          55          86                       64
 2      9.0  33.0        51.0        93.0                     78.0
 3     12.0  34.0        86.0        88.0                     80.0
 4      6.0  22.0        88.0        64.0                     63.0
 5     11.0  25.0        74.0       106.0                     72.0
 6      5.0  21.0       115.0       129.0                     58.0
 7     11.0  23.0       115.0       154.0                     78.0
 8      4.0  20.0        66.0       181.0                     80.0
 9      5.0  24.0        51.0       116.0                     46.0

   Shooting-Occ Dwell Shooting-Occ Auto Shooting-Unocc Dwell Robbery  \
 1                 39                15                   10      69
 2               49.0              18.0                 11.0    66.0
 3               46.0              22.0                 12.0    73.0
 4               42.0              13.0                  8.0    68.0
 5               45.0              19.0                  8.0    45.0
 6               37.0              17.0                  4.0    44.0
 7               56.0              11.0                 11.0    65.0
 8               51.0              17.0                 12.0    46.0
 9               24.0              13.0                  9.0    36.0


In [17]:
#new_index_names2 = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', 
                   #'22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40',
                   #'41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', 
                   #'60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
                   #'80', '81']
#result.index = new_index_names2
#result

In [ ]:
#result.count()

In [ ]:
#result.describe

In [ ]:
#result.