In [ ]:
#pip install pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-1-15-24/KCKPD-YTD-STATS-1-15-24.xlsx", header=2)
## Header is of two rows with the Pivot table
## Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
## Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

In [4]:
df

,01/15,2016,2017,2018,Unnamed: 4,2019,Unnamed: 6,2020,Unnamed: 8,2021,...,2022,Unnamed: 12,2023,Unnamed: 14,2024,Unnamed: 16,(+/-),Unnamed: 18,%,Unnamed: 20
0,Homicide,2,0.0,2.0,NaN,1.0,NaN,1,NaN,2.0,...,2.0,NaN,0.0,NaN,0,NaN,0.0,NaN,#DIV/0!,NaN
1,Rape,15,8.0,13.0,NaN,2.0,NaN,6,NaN,5.0,...,6.0,NaN,4.0,NaN,1,NaN,-3.0,NaN,-0.75,NaN
2,Agg Battery,9,9.0,7.0,NaN,15.0,NaN,9,NaN,15.0,...,23.0,NaN,18.0,NaN,3,NaN,-15.0,NaN,-0.83,NaN
3,Agg Assault,16,16.0,13.0,NaN,11.0,NaN,13,NaN,17.0,...,35.0,NaN,35.0,NaN,10,NaN,-25.0,NaN,-0.71,NaN
4,Shooting Into Dwell/Auto,16,19.0,18.0,NaN,8.0,NaN,7,NaN,15.0,...,25.0,NaN,17.0,NaN,8,NaN,-9.0,NaN,-0.53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Other,588,708.0,NaN,1391.0,NaN,1665.0,NaN,1602.0,NaN,...,NaN,1482.0,NaN,2472.0,NaN,27,NaN,-2445,NaN,-0.99
111,TOTAL NON-TARGET CRIMES,9294,9629.0,NaN,9668.0,NaN,9327.0,NaN,9517.0,NaN,...,NaN,9790.0,NaN,11306.0,NaN,115,NaN,-11191,NaN,-0.99
112,TOTAL CRIMES,17962,18462.0,NaN,17733.0,NaN,17020.0,NaN,18128.0,NaN,...,NaN,17982.0,NaN,19739.0,NaN,115,NaN,-19624,NaN,-0.99
113,Runaway,395,450.0,NaN,404.0,NaN,412.0,NaN,391.0,NaN,...,NaN,423.0,NaN,336.0,NaN,5,NaN,-331,NaN,-0.99
114,Missing Person,103,145.0,NaN,118.0,NaN,154.0,NaN,144.0,NaN,...,NaN,159.0,NaN,160.0,NaN,0,NaN,-160,NaN,-1

In [5]:
print(df.columns.tolist())
## Reference https://stackoverflow.com/questions/49188960/how-to-show-all-columns-names-on-a-large-pandas-dataframe

['01/15', 2016, 2017, 2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023, 'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20']

In [6]:
check_cols = ['01/15', 2016, 2017, 2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023, 'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20']  # if only need to check a subset of cols for validity, do it here

In [7]:
df = df.astype(str) #convert all columns to strings as I have to combine numbers in the same cell

In [8]:
df = df.replace('nan','') #get rid of the nan created back to a blank string

In [9]:
df

,01/15,2016,2017,2018,Unnamed: 4,2019,Unnamed: 6,2020,Unnamed: 8,2021,...,2022,Unnamed: 12,2023,Unnamed: 14,2024,Unnamed: 16,(+/-),Unnamed: 18,%,Unnamed: 20
0,Homicide,2,0.0,2.0,,1.0,,1,,2.0,...,2.0,,0.0,,0,,0.0,,#DIV/0!,
1,Rape,15,8.0,13.0,,2.0,,6,,5.0,...,6.0,,4.0,,1,,-3.0,,-0.75,
2,Agg Battery,9,9.0,7.0,,15.0,,9,,15.0,...,23.0,,18.0,,3,,-15.0,,-0.83,
3,Agg Assault,16,16.0,13.0,,11.0,,13,,17.0,...,35.0,,35.0,,10,,-25.0,,-0.71,
4,Shooting Into Dwell/Auto,16,19.0,18.0,,8.0,,7,,15.0,...,25.0,,17.0,,8,,-9.0,,-0.53,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Other,588,708.0,,1391.0,,1665.0,,1602.0,,...,,1482.0,,2472.0,,27,,-2445,,-0.99
111,TOTAL NON-TARGET CRIMES,9294,9629.0,,9668.0,,9327.0,,9517.0,,...,,9790.0,,11306.0,,115,,-11191,,-0.99
112,TOTAL CRIMES,17962,18462.0,,17733.0,,17020.0,,18128.0,,...,,17982.0,,19739.0,,115,,-19624,,-0.99
113,Runaway,395,450.0,,404.0,,412.0,,391.0,,...,,423.0,,336.0,,5,,-331,,-0.99
114,Missing Person,103,145.0,,118.0,,154.0,,144.0,,...,,159.0,,160.0,,0,,-160,,-1

In [10]:
# Combine 'Column1' and 'Column2' into a new column 'Combined'
df['2018'] = df[2018].astype(str) + df['Unnamed: 4']
df['2019'] = df[2019].astype(str) + df['Unnamed: 6']
df['2020'] = df[2020].astype(str) + df['Unnamed: 8']
df['2021'] = df[2021].astype(str) + df['Unnamed: 10']
df['2022'] = df[2022].astype(str) + df['Unnamed: 12']
df['2023'] = df[2023].astype(str) + df['Unnamed: 14']
df['2024'] = df[2024].astype(str) + df['Unnamed: 16']
df['(+/-)'] = df['(+/-)'].astype(str) + df['Unnamed: 18']
df['%'] = df['%'].astype(str) + df['Unnamed: 20']

In [11]:
df = df.drop(columns=[2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023, 'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20'])

In [12]:
df

,01/15,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Homicide,2,0.0,2.0,1.0,1,2.0,2.0,0.0,0
1,Rape,15,8.0,13.0,2.0,6,5.0,6.0,4.0,1
2,Agg Battery,9,9.0,7.0,15.0,9,15.0,23.0,18.0,3
3,Agg Assault,16,16.0,13.0,11.0,13,17.0,35.0,35.0,10
4,Shooting Into Dwell/Auto,16,19.0,18.0,8.0,7,15.0,25.0,17.0,8
...,...,...,...,...,...,...,...,...,...,...
110,Other,588,708.0,1391.0,1665.0,1602.0,1660.0,1482.0,2472.0,27
111,TOTAL NON-TARGET CRIMES,9294,9629.0,9668.0,9327.0,9517.0,9921.0,9790.0,11306.0,115
112,TOTAL CRIMES,17962,18462.0,17733.0,17020.0,18128.0,18629.0,17982.0,19739.0,115
113,Runaway,395,450.0,404.0,412.0,391.0,351.0,423.0,336.0,5
114,Missing Person,103,145.0,118.0,154.0,144.0,148.0,159.0,160.0,0

In [13]:
df_transposed = df.transpose()  # or df.transpose()
df_transposed
## Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
01/15,Homicide,Rape,Agg Battery,Agg Assault,Shooting Into Dwell/Auto,Shooting-Occ Dwell,Shooting-Occ Auto,Shooting-Unocc Dwell,Robbery,Agg Robbery,...,Poss Stolen Property,TOTAL OTHER PROPERTY,Drug Offense,Weapons Offense,TOTAL SOCIETY,Other,TOTAL NON-TARGET CRIMES,TOTAL CRIMES,Runaway,Missing Person
2016,2,15,9,16,16,8,5,3,17,15,...,20,4249,865,95,960,588,9294,17962,395,103
2017,0.0,8.0,9.0,16.0,19.0,13.0,3.0,3.0,10.0,8.0,...,28.0,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0
2018,2.0,13.0,7.0,13.0,18.0,10.0,6.0,2.0,7.0,5.0,...,20.0,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0
2019,1.0,2.0,15.0,11.0,8.0,7.0,0.0,1.0,15.0,14.0,...,32.0,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0
2020,1,6,9,13,7,4,0,3,7,7,...,26.0,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0
2021,2.0,5.0,15.0,17.0,15.0,13.0,1.0,1.0,10.0,9.0,...,24.0,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0
2022,2.0,6.0,23.0,35.0,25.0,19.0,3.0,3.0,8.0,7.0,...,34.0,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0
2023,0.0,4.0,18.0,35.0,17.0,11.0,5.0,1.0,8.0,7.0,...,90.0,3967.0,1329.0,481.0,1810.0,2472.0,11306.0,19739.0,336.0,160.0
2024,0,1,3,10,8,5,0,3,1,1,...,1,50,3,11,14,27,115,115,5,0

In [14]:
import pandas as pd
import numpy as np

df = pd.read_excel("C://Users//hlcma//OneDrive//Desktop//KCKPD/KCKPD-YTD-STATS-1-15-24/KCKPD-YTD-STATS-1-15-24.xlsx", header=2)
## Header is of two rows with the Pivot table
## Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
## Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

df = df.astype(str) #convert all columns to strings as I have to combine numbers in the same cell
df = df.replace('nan','') #get rid of the nan created back to a blank string

# Combine 'Column1' and 'Column2' into a new column 'Combined'
df['2018'] = df[2018].astype(str) + df['Unnamed: 4']
df['2019'] = df[2019].astype(str) + df['Unnamed: 6']
df['2020'] = df[2020].astype(str) + df['Unnamed: 8']
df['2021'] = df[2021].astype(str) + df['Unnamed: 10']
df['2022'] = df[2022].astype(str) + df['Unnamed: 12']
df['2023'] = df[2023].astype(str) + df['Unnamed: 14']
df['2024'] = df[2024].astype(str) + df['Unnamed: 16']
df['(+/-)'] = df['(+/-)'].astype(str) + df['Unnamed: 18']
df['%'] = df['%'].astype(str) + df['Unnamed: 20']

df = df.drop(columns=[2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023, 'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20'])

df_transposed = df.transpose()  # or df.transpose()
df_transposed
## Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
01/15,Homicide,Rape,Agg Battery,Agg Assault,Shooting Into Dwell/Auto,Shooting-Occ Dwell,Shooting-Occ Auto,Shooting-Unocc Dwell,Robbery,Agg Robbery,...,Poss Stolen Property,TOTAL OTHER PROPERTY,Drug Offense,Weapons Offense,TOTAL SOCIETY,Other,TOTAL NON-TARGET CRIMES,TOTAL CRIMES,Runaway,Missing Person
2016,2,15,9,16,16,8,5,3,17,15,...,20,4249,865,95,960,588,9294,17962,395,103
2017,0.0,8.0,9.0,16.0,19.0,13.0,3.0,3.0,10.0,8.0,...,28.0,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0
2018,2.0,13.0,7.0,13.0,18.0,10.0,6.0,2.0,7.0,5.0,...,20.0,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0
2019,1.0,2.0,15.0,11.0,8.0,7.0,0.0,1.0,15.0,14.0,...,32.0,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0
2020,1,6,9,13,7,4,0,3,7,7,...,26.0,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0
2021,2.0,5.0,15.0,17.0,15.0,13.0,1.0,1.0,10.0,9.0,...,24.0,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0
2022,2.0,6.0,23.0,35.0,25.0,19.0,3.0,3.0,8.0,7.0,...,34.0,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0
2023,0.0,4.0,18.0,35.0,17.0,11.0,5.0,1.0,8.0,7.0,...,90.0,3967.0,1329.0,481.0,1810.0,2472.0,11306.0,19739.0,336.0,160.0
2024,0,1,3,10,8,5,0,3,1,1,...,1,50,3,11,14,27,115,115,5,0