In [1]:
import pandas as pd
import numpy as np

In [2]:
# Corrected file paths with raw string notation to avoid Unicode escape issues
df = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-15-24//KCKPD-YTD-STATS-1-15-24.xlsx", header=2)
df2 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-1-29-24//KCKPD-YTD-STATS-1-29-24.xlsx", header=3)
df3 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-2-12-24//KCKPD-YTD-STATS-2-12-24.xlsx", header=3)
df4 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-2-26-24//KCKPD-YTD-STATS-2-26-24.xlsx", header=3)
df5 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-3-11-24//KCKPD-YTD-STATS-3-11-24.xlsx", header=3)
df6 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-3-25-24//KCKPD-YTD-STATS-3-25-24.xlsx", header=3)
df7 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-4-8-24//KCKPD-YTD-STATS-4-8-24.xlsx", header=3)
df8 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-4-22-24//KCKPD-YTD-STATS-4-22-24.xlsx", header=3)
df9 = pd.read_excel(r"C://Users//hlcma//OneDrive//Desktop//KCKPD//KCKPD-YTD-STATS-5-6-24//KCKPD-YTD-STATS-5-6-24.xlsx", header=3)
### Header is of two rows with the Excel Spreadsheet to be removed.
### Reference Link: https://stackoverflow.com/questions/37400974/error-unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3
### Reference Link: https://saturncloud.io/blog/how-to-use-python-and-pandas-to-convert-xlsx-to-csv-and-remove-the-index-column/

In [3]:
df = df.astype(str) ### Convert all columns to strings as I have to combine numbers in the same cell.
df2 = df2.astype(str)  
df3 = df3.astype(str)  
df4 = df4.astype(str)
df5 = df5.astype(str)
df6 = df6.astype(str)
df7 = df7.astype(str)
df8 = df8.astype(str)
df9 = df9.astype(str)

In [4]:
df = df.replace('nan','') ### Getting rid of the nan created back to a blank string
df2 = df2.replace('nan','')
df3 = df3.replace('nan','') 
df4 = df4.replace('nan','')
df5 = df5.replace('nan','') 
df6 = df6.replace('nan','') 
df7 = df7.replace('nan','')
df8 = df8.replace('nan','') 
df9 = df9.replace('nan','')

In [5]:
### Combine 'Column1' and 'Column2' into a new column 'Combined'
df['2018'] = df[2018].astype(str) + df['Unnamed: 4']
df2['2019'] = df2[2019].astype(str) + df2['Unnamed: 5']
df3['2019'] = df3[2019].astype(str) + df3['Unnamed: 5']
df4['2019'] = df4[2019].astype(str) + df4['Unnamed: 5']
df5['2019'] = df5[2019].astype(str) + df5['Unnamed: 5']
df6['2019'] = df6[2019].astype(str) + df6['Unnamed: 5']
df7['2019'] = df7[2019].astype(str) + df7['Unnamed: 5']
df8['2019'] = df8[2019].astype(str) + df8['Unnamed: 5']
df9['2019'] = df9[2019].astype(str) + df9['Unnamed: 5']

In [6]:
df['2019'] = df[2019].astype(str) + df['Unnamed: 6']
df2['2020'] = df2[2020].astype(str) + df2['Unnamed: 7']
df3['2020'] = df3[2020].astype(str) + df3['Unnamed: 7']
df4['2020'] = df4[2020].astype(str) + df4['Unnamed: 7']
df5['2020'] = df5[2020].astype(str) + df5['Unnamed: 7']
df6['2020'] = df6[2020].astype(str) + df6['Unnamed: 7']
df7['2020'] = df7[2020].astype(str) + df7['Unnamed: 7']
df8['2020'] = df8[2020].astype(str) + df8['Unnamed: 7']
df9['2020'] = df9[2020].astype(str) + df9['Unnamed: 7']

In [7]:
df['2020'] = df[2020].astype(str) + df['Unnamed: 8']
df2['2021'] = df2[2021].astype(str) + df2['Unnamed: 9']
df3['2021'] = df3[2021].astype(str) + df3['Unnamed: 9']
df4['2021'] = df4[2021].astype(str) + df4['Unnamed: 9']
df5['2021'] = df5[2021].astype(str) + df5['Unnamed: 9']
df6['2021'] = df6[2021].astype(str) + df6['Unnamed: 9']
df7['2021'] = df7[2021].astype(str) + df7['Unnamed: 9']
df8['2021'] = df8[2021].astype(str) + df8['Unnamed: 9']
df9['2021'] = df9[2021].astype(str) + df9['Unnamed: 9']

In [8]:
df['2021'] = df[2021].astype(str) + df['Unnamed: 10']
df2['2022'] = df2[2022].astype(str) + df2['Unnamed: 11']
df3['2022'] = df3[2022].astype(str) + df3['Unnamed: 11']
df4['2022'] = df4[2022].astype(str) + df4['Unnamed: 11']
df5['2022'] = df5[2022].astype(str) + df5['Unnamed: 11']
df6['2022'] = df6[2022].astype(str) + df6['Unnamed: 11']
df7['2022'] = df7[2022].astype(str) + df7['Unnamed: 11']
df8['2022'] = df8[2022].astype(str) + df8['Unnamed: 11']
df9['2022'] = df9[2022].astype(str) + df9['Unnamed: 11']

In [9]:
df['2022'] = df[2022].astype(str) + df['Unnamed: 12']
df2['2023'] = df2[2023].astype(str) + df2['Unnamed: 13']
df3['2023'] = df3[2023].astype(str) + df3['Unnamed: 13']
df4['2023'] = df4[2023].astype(str) + df4['Unnamed: 13']
df5['2023'] = df5[2023].astype(str) + df5['Unnamed: 13']
df6['2023'] = df6[2023].astype(str) + df6['Unnamed: 13']
df7['2023'] = df7[2023].astype(str) + df7['Unnamed: 13']
df8['2023'] = df8[2023].astype(str) + df8['Unnamed: 13']
df9['2023'] = df9[2023].astype(str) + df9['Unnamed: 13']

In [10]:
df['2023'] = df[2023].astype(str) + df['Unnamed: 14']
df['2024'] = df[2024].astype(str) + df['Unnamed: 16']
df2['2024'] = df2[2024].astype(str) + df2['Unnamed: 15']
df3['2024'] = df3[2024].astype(str) + df3['Unnamed: 15']
df4['2024'] = df4[2024].astype(str) + df4['Unnamed: 15']
df5['2024'] = df5[2024].astype(str) + df5['Unnamed: 15']
df6['2024'] = df6[2024].astype(str) + df6['Unnamed: 15']
df7['2024'] = df7[2024].astype(str) + df7['Unnamed: 15']
df8['2024'] = df8[2024].astype(str) + df8['Unnamed: 15']
df9['2024'] = df9[2024].astype(str) + df9['Unnamed: 15']

In [11]:
df['(+/-)'] = df['(+/-)'].astype(str) + df['Unnamed: 18']
df2['(+/-)'] = df2['(+/-)'].astype(str) + df2['Unnamed: 17']
df3['(+/-)'] = df3['(+/-)'].astype(str) + df3['Unnamed: 17']
df4['(+/-)'] = df4['(+/-)'].astype(str) + df4['Unnamed: 17']
df5['(+/-)'] = df5['(+/-)'].astype(str) + df5['Unnamed: 17']
df6['(+/-)'] = df6['(+/-)'].astype(str) + df6['Unnamed: 17']
df7['(+/-)'] = df7['(+/-)'].astype(str) + df7['Unnamed: 17']
df8['(+/-)'] = df8['(+/-)'].astype(str) + df8['Unnamed: 17']
df9['(+/-)'] = df9['(+/-)'].astype(str) + df9['Unnamed: 17']

In [12]:
df['%'] = df['%'].astype(str) + df['Unnamed: 20']
df2['%'] = df2['%'].astype(str) + df2['Unnamed: 19']
df3['%'] = df3['%'].astype(str) + df3['Unnamed: 19']
df4['%'] = df4['%'].astype(str) + df4['Unnamed: 19']
df5['%'] = df5['%'].astype(str) + df5['Unnamed: 19']
df6['%'] = df6['%'].astype(str) + df6['Unnamed: 19']
df7['%'] = df7['%'].astype(str) + df7['Unnamed: 19']
df8['%'] = df8['%'].astype(str) + df8['Unnamed: 19']
df9['%'] = df9['%'].astype(str) + df9['Unnamed: 19']

In [13]:
df = df.drop(columns=[2018, 'Unnamed: 4', 2019, 'Unnamed: 6', 2020, 'Unnamed: 8', 2021, 'Unnamed: 10', 2022, 'Unnamed: 12', 2023,
                      'Unnamed: 14', 2024, 'Unnamed: 16', '(+/-)', 'Unnamed: 18', '%', 'Unnamed: 20'])
df2 = df2.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df3 = df3.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df4 = df4.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df5 = df5.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df6 = df6.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df7 = df7.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df8 = df8.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])
df9 = df9.drop(columns=[2019, 'Unnamed: 5', 2020, 'Unnamed: 7', 2021, 'Unnamed: 9', 2022, 'Unnamed: 11', 2023,
                        'Unnamed: 13', 2024, 'Unnamed: 15', '(+/-)', 'Unnamed: 17', '%', 'Unnamed: 19'])

In [14]:
df_transposed = df.transpose()  
df2_transposed = df2.transpose()  
df3_transposed = df3.transpose()  
df4_transposed = df4.transpose()  
df5_transposed = df5.transpose()  
df6_transposed = df6.transpose() 
df7_transposed = df7.transpose()  
df8_transposed = df8.transpose()
df9_transposed = df9.transpose()  
### or df.transpose()
### Reference https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

### This code is historic code used to print the existing column names. print(df_transposed.columns.tolist())

### This prints the dataframes columns to a list. 
### print(df.columns.tolist())
### Code used to get the column names from the first row of the data set to a list. 
### print(df_transposed.loc["01/15",:].tolist())

In [15]:
print(df_transposed.loc["01/15",:].tolist())

['Homicide', 'Rape', 'Agg Battery', 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 'Robbery', 'Total Violent', 'Burglary', 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 'Abduction', 'Agg Arson', 'Agg Ind Solicitation', 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint', 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties', 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking', 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage', 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense', 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES', 'Runaway', 'Missing Person', '', 'Data as of', '01/15', 'Homicide', 'Rape', 'Agg Battery', 'Agg Assault', 'Shooting Into Dwell/Auto', 'Shooting-Occ Dwell', 'Shooting-Occ Auto', 'Shooting-Unocc Dwell', 'Robbery', 'Agg Robbery', 'Robbery', 'Total Violent', 'Burglary', 'Burglary-Aggravated', 'Burglary-Res', 'Burglary-NonRes', 'Burglary-Auto', 'Theft', 'TOTAL PROPERTY', 'TOTAL TARGET CRIMES', 'Abduction', 'Agg Arson', 'Agg Ind Solicitation', 'Agg Indec Liberties', 'Agg Sexual Battery', 'Agg Sodomy', 'Assault', 'Battery', 'Child Abuse', 'Criminal Restraint', 'Criminal Threat', 'Domestic Battery', 'Indecent Liberties', 'Indecent Solicitation', 'Interf Parental Cust', 'Sex Exploit of Child', 'Sexual Battery', 'Sodomy', 'Stalking', 'Telecomm Harrasment', 'TOTAL OTHER PERSONS', 'Arson', 'Criminal Damage', 'Forgery', 'Fraud', 'Graffiti', 'Poss Stolen Property', 'TOTAL OTHER PROPERTY', 'Drug Offense', 'Weapons Offense', 'TOTAL SOCIETY', 'Other', 'TOTAL NON-TARGET CRIMES', 'TOTAL CRIMES', 'Runaway', 'Missing Person']

In [16]:
### The collected Column names from the first column labled '01/15'
new_column_names = df_transposed.loc["01/15",:].tolist()

In [17]:
### Reference: https://www.geeksforgeeks.org/python-convert-case-of-elements-in-a-list-of-strings/
new_column_names2 = [x.lower() for x in new_column_names]

In [18]:
### This code adds the string values in "new_column_names2" to the dataframe as a new headers.
df_transposed.columns = new_column_names2
df2_transposed.columns = new_column_names2
df3_transposed.columns = new_column_names2
df4_transposed.columns = new_column_names2
df5_transposed.columns = new_column_names2
df6_transposed.columns = new_column_names2
df7_transposed.columns = new_column_names2
df8_transposed.columns = new_column_names2
df9_transposed.columns = new_column_names2

In [19]:
df_transposed = df_transposed.drop(['01/15'])
df2_transposed = df2_transposed.drop(['01/29'])
df3_transposed = df3_transposed.drop(['02/12'])
df4_transposed = df4_transposed.drop(['02/26'])
df5_transposed = df5_transposed.drop(['03/11'])
df6_transposed = df6_transposed.drop(['03/25'])
df7_transposed = df7_transposed.drop(['04/08'])
df8_transposed = df8_transposed.drop(['04/22'])
df9_transposed = df9_transposed.drop(['05/06'])

In [20]:
### add string of the years of data collection 2016 - 2024.
df_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df2_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df3_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df4_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df5_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df6_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df7_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df8_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df9_transposed['date_year'] = [ '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [21]:
### Adds the prefix of January 15th the date of the worksheet 
df_transposed['date_year'] = '01-15-' + df_transposed['date_year'].astype(str)
df2_transposed['date_year'] = '01-29-' + df2_transposed['date_year'].astype(str)
df3_transposed['date_year'] = '02-12-' + df3_transposed['date_year'].astype(str)
df4_transposed['date_year'] = '02-26-' + df4_transposed['date_year'].astype(str)
df5_transposed['date_year'] = '03-11-' + df5_transposed['date_year'].astype(str)
df6_transposed['date_year'] = '03-25-' + df6_transposed['date_year'].astype(str)
df7_transposed['date_year'] = '03-08-' + df7_transposed['date_year'].astype(str)
df8_transposed['date_year'] = '04-22-' + df8_transposed['date_year'].astype(str)
df9_transposed['date_year'] = '05-06-' + df9_transposed['date_year'].astype(str)

In [22]:
### Rename all the indexs with 1 to 9 iterations
new_index_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [23]:
df_transposed.index = new_index_names
df2_transposed.index = new_index_names
df3_transposed.index = new_index_names
df4_transposed.index = new_index_names
df5_transposed.index = new_index_names
df6_transposed.index = new_index_names
df7_transposed.index = new_index_names
df8_transposed.index = new_index_names
df9_transposed.index = new_index_names

In [24]:
frames = [df_transposed, df2_transposed, df3_transposed, df4_transposed, df5_transposed, df6_transposed, df7_transposed, df8_transposed, df9_transposed]

In [25]:
result = pd.concat(frames)

In [26]:
new_index_names2 = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79','80', '81']

In [27]:
result.index = new_index_names2

In [28]:
result.tail(40)

,homicide,rape,agg battery,agg assault,shooting into dwell/auto,shooting-occ dwell,shooting-occ auto,shooting-unocc dwell,robbery,agg robbery,...,total other property,drug offense,weapons offense,total society,other,total non-target crimes,total crimes,runaway,missing person,date_year
42,3.0,15.0,86.0,87.0,44.0,27.0,14.0,3.0,31.0,25.0,...,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0,03-11-2021
43,9.0,19.0,87.0,117.0,60.0,43.0,8.0,9.0,52.0,47.0,...,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0,03-11-2022
44,3.0,13.0,45.0,131.0,61.0,38.0,12.0,11.0,35.0,28.0,...,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19893.0,343.0,162.0,03-11-2023
45,4.0,17.0,32.0,81.0,35.0,18.0,11.0,6.0,28.0,23.0,...,505.0,191.0,85.0,276.0,361.0,1636.0,2719.0,39.0,20.0,03-11-2024
46,9,32,49,80,59,35,14,10,60,54,...,4249,865,95,960,588,9294,17962,395,103,03-25-2016
47,6.0,26.0,40.0,82.0,62.0,39.0,17.0,6.0,57.0,44.0,...,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0,03-25-2017
48,9.0,29.0,65.0,75.0,73.0,42.0,20.0,11.0,62.0,52.0,...,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0,03-25-2018
49,4.0,17.0,77.0,57.0,56.0,39.0,10.0,7.0,63.0,48.0,...,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0,03-25-2019
50,10.0,24.0,66.0,92.0,59.0,34.0,17.0,8.0,40.0,35.0,...,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0,03-25-2020
51,4.0,20.0,99.0,107.0,52.0,33.0,16.0,3.0,39.0,30.0,...,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0,03-25-2021
52,10.0,22.0,99.0,133.0,68.0,49.0,9.0,10.0,56.0,49.0,...,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0,03-25-2022
53,3.0,15.0,59.0,156.0,73.0,47.0,15.0,11.0,40.0,33.0,...,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19893.0,343.0,162.0,03-25-2023
54,4.0,18.0,40.0,101.0,41.0,22.0,12.0,7.0,31.0,25.0,...,619.0,246.0,102.0,348.0,422.0,1981.0,3303.0,49.0,22.0,03-25-2024
55,10,40,55,86,64,39,15,10,69,63,...,4249,865,95,960,588,9294,17962,395,103,03-08-2016
56,9.0,33.0,51.0,93.0,78.0,49.0,18.0,11.0,66.0,51.0,...,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0,03-08-2017
57,12.0,34.0,86.0,88.0,80.0,46.0,22.0,12.0,73.0,61.0,...,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0,03-08-2018
58,6.0,22.0,88.0,64.0,63.0,42.0,13.0,8.0,68.0,52.0,...,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0,03-08-2019
59,11.0,25.0,74.0,106.0,72.0,45.0,19.0,8.0,45.0,39.0,...,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0,03-08-2020
60,5.0,21.0,115.0,129.0,58.0,37.0,17.0,4.0,44.0,34.0,...,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0,03-08-2021
61,11.0,23.0,115.0,154.0,78.0,56.0,11.0,11.0,65.0,57.0,...,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0,03-08-2022
62,4.0,20.0,66.0,181.0,80.0,51.0,17.0,12.0,46.0,38.0,...,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19893.0,343.0,162.0,03-08-2023
63,5.0,24.0,51.0,116.0,46.0,24.0,13.0,9.0,36.0,27.0,...,716.0,287.0,118.0,405.0,505.0,2327.0,3882.0,60.0,26.0,03-08-2024
64,10,42,61,97,75,45,18,12,73,67,...,4249,865,95,960,588,9294,17962,395,103,04-22-2016
65,12.0,37.0,65.0,106.0,97.0,64.0,20.0,13.0,74.0,57.0,...,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0,04-22-2017
66,12.0,35.0,98.0,98.0,86.0,46.0,27.0,13.0,81.0,68.0,...,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0,04-22-2018
67,6.0,24.0,107.0,73.0,85.0,58.0,17.0,10.0,75.0,59.0,...,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0,04-22-2019
68,13.0,28.0,91.0,132.0,87.0,55.0,24.0,8.0,57.0,50.0,...,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0,04-22-2020
69,8.0,30.0,132.0,157.0,71.0,44.0,21.0,6.0,49.0,39.0,...,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0,04-22-2021
70,12.0,27.0,135.0,183.0,96.0,68.0,13.0,15.0,76.0,66.0,...,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0,04-22-2022
71,5.0,22.0,69.0,204.0,92.0,60.0,19.0,13.0,52.0,44.0,...,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19893.0,343.0,162.0,04-22-2023
72,6.0,26.0,55.0,129.0,48.0,24.0,15.0,9.0,42.0,32.0,...,832.0,339.0,129.0,468.0,585.0,2693.0,4477.0,69.0,35.0,04-22-2024
73,11,45,70,104,80,49,19,12,79,72,...,4249,865,95,960,588,9294,17962,395,103,05-06-2016
74,13.0,47.0,80.0,125.0,122.0,81.0,26.0,15.0,81.0,63.0,...,4311.0,1074.0,181.0,1255.0,708.0,9629.0,18462.0,450.0,145.0,05-06-2017
75,14.0,39.0,103.0,109.0,95.0,51.0,28.0,16.0,89.0,75.0,...,3742.0,1015.0,278.0,1293.0,1391.0,9668.0,17733.0,404.0,118.0,05-06-2018
76,6.0,32.0,118.0,85.0,94.0,63.0,20.0,11.0,81.0,64.0,...,3432.0,1024.0,419.0,1443.0,1665.0,9327.0,17020.0,412.0,154.0,05-06-2019
77,13.0,31.0,106.0,161.0,106.0,69.0,28.0,9.0,64.0,57.0,...,3864.0,587.0,532.0,1119.0,1602.0,9517.0,18128.0,391.0,144.0,05-06-2020
78,9.0,39.0,151.0,194.0,87.0,54.0,26.0,7.0,58.0,45.0,...,3978.0,744.0,448.0,1192.0,1660.0,9921.0,18629.0,351.0,148.0,05-06-2021
79,16.0,36.0,153.0,216.0,109.0,77.0,17.0,15.0,89.0,76.0,...,3711.0,980.0,533.0,1513.0,1482.0,9790.0,17982.0,423.0,159.0,05-06-2022
80,6.0,24.0,80.0,225.0,99.0,65.0,20.0,14.0,63.0,51.0,...,4010.0,1333.0,479.0,1812.0,2490.0,11379.0,19893.0,343.0,162.0,05-06-2023
81,9.0,27.0,61.0,147.0,53.0,29.0,15.0,9.0,47.0,37.0,...,922.0,382.0,141.0,523.0,658.0,3000.0,4973.0,76.0,45.0,05-06-2024

In [29]:
result.to_excel("results.xlsx", index=True)

In [30]:
# Generate the CREATE TABLE statement using the column names of dataframe result
table_name = "new_table"
columns = {col: "VARCHAR(255)" for col in result.columns}  # Assuming all columns are of type VARCHAR(255)

create_table_statement = f"CREATE TABLE {table_name} (\n"
for column_name, column_type in columns.items():
    create_table_statement += f"    {column_name} {column_type},\n"
create_table_statement = create_table_statement.rstrip(",\n") + "\n);"

create_table_statement

'CREATE TABLE new_table (\n    homicide VARCHAR(255),\n    rape VARCHAR(255),\n    agg battery VARCHAR(255),\n    agg assault VARCHAR(255),\n    shooting into dwell/auto VARCHAR(255),\n    shooting-occ dwell VARCHAR(255),\n    shooting-occ auto VARCHAR(255),\n    shooting-unocc dwell VARCHAR(255),\n    robbery VARCHAR(255),\n    agg robbery VARCHAR(255),\n    total violent VARCHAR(255),\n    burglary VARCHAR(255),\n    burglary-aggravated VARCHAR(255),\n    burglary-res VARCHAR(255),\n    burglary-nonres VARCHAR(255),\n    burglary-auto VARCHAR(255),\n    theft VARCHAR(255),\n    total property VARCHAR(255),\n    total target crimes VARCHAR(255),\n    abduction VARCHAR(255),\n    agg arson VARCHAR(255),\n    agg ind solicitation VARCHAR(255),\n    agg indec liberties VARCHAR(255),\n    agg sexual battery VARCHAR(255),\n    agg sodomy VARCHAR(255),\n    assault VARCHAR(255),\n    battery VARCHAR(255),\n    child abuse VARCHAR(255),\n    criminal restraint VARCHAR(255),\n    criminal threat VARCHAR(255),\n    domestic battery VARCHAR(255),\n    indecent liberties VARCHAR(255),\n    indecent solicitation VARCHAR(255),\n    interf parental cust VARCHAR(255),\n    sex exploit of child VARCHAR(255),\n    sexual battery VARCHAR(255),\n    sodomy VARCHAR(255),\n    stalking VARCHAR(255),\n    telecomm harrasment VARCHAR(255),\n    total other persons VARCHAR(255),\n    arson VARCHAR(255),\n    criminal damage VARCHAR(255),\n    forgery VARCHAR(255),\n    fraud VARCHAR(255),\n    graffiti VARCHAR(255),\n    poss stolen property VARCHAR(255),\n    total other property VARCHAR(255),\n    drug offense VARCHAR(255),\n    weapons offense VARCHAR(255),\n    total society VARCHAR(255),\n    other VARCHAR(255),\n    total non-target crimes VARCHAR(255),\n    total crimes VARCHAR(255),\n    runaway VARCHAR(255),\n    missing person VARCHAR(255),\n     VARCHAR(255),\n    data as of VARCHAR(255),\n    01/15 VARCHAR(255),\n    date_year VARCHAR(255)\n);'

In [31]:
CREATE TABLE new_table (
    homicide VARCHAR(255),
    rape VARCHAR(255),
    agg_battery VARCHAR(255),
    agg_assault VARCHAR(255),
    shooting_into_dwell_auto VARCHAR(255),
    shooting_occ_dwell VARCHAR(255),
    shooting_occ_auto VARCHAR(255),
    shooting_unocc_dwell VARCHAR(255),
    robbery VARCHAR(255),
    agg_robbery VARCHAR(255),
    total_violent VARCHAR(255),
    burglary VARCHAR(255),
    burglary_aggravated VARCHAR(255),
    burglary_res VARCHAR(255),
    burglary_nonres VARCHAR(255),
    burglary_auto VARCHAR(255),
    theft VARCHAR(255),
    total_property VARCHAR(255),
    total_target_crimes VARCHAR(255),
    abduction VARCHAR(255),
    agg_arson VARCHAR(255),
    agg_ind_solicitation VARCHAR(255),
    agg_indec_liberties VARCHAR(255),
    agg_sexual_battery VARCHAR(255),
    agg_sodomy VARCHAR(255),
    assault VARCHAR(255),
    battery VARCHAR(255),
    child_abuse VARCHAR(255),
    criminal_restraint VARCHAR(255),
    criminal_threat VARCHAR(255),
    domestic_battery VARCHAR(255),
    indecent_liberties VARCHAR(255),
    indecent_solicitation VARCHAR(255),
    interf_parental_cust VARCHAR(255),
    sex_exploit_of_child VARCHAR(255),
    sexual_battery VARCHAR(255),
    sodomy VARCHAR(255),
    stalking VARCHAR(255),
    telecomm_harassment VARCHAR(255),
    total_other_persons VARCHAR(255),
    arson VARCHAR(255),
    criminal_damage VARCHAR(255),
    forgery VARCHAR(255),
    fraud VARCHAR(255),
    graffiti VARCHAR(255),
    poss_stolen_property VARCHAR(255),
    total_other_property VARCHAR(255),
    drug_offense VARCHAR(255),
    weapons_offense VARCHAR(255),
    total_society VARCHAR(255),
    other VARCHAR(255),
    total_non_target_crimes VARCHAR(255),
    total_crimes VARCHAR(255),
    runaway VARCHAR(255),
    missing_person VARCHAR(255),
    data_as_of VARCHAR(255),
    date_year VARCHAR(255)
);

SyntaxError: invalid syntax (1432550577.py, line 1)